body {
    background-image: url('images/fundo/goku.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: rgba(194, 91, 241, 0.815);*/
    min-height:  100px;
    border-radius: 70px 70px 70px 70px;
    overflow: hidden;
}

#logo {
    max-width: 60%;
    height: auto;
    max-height: 400px;
    margin:auto;
}

#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

#presentation .prep {
    flex: auto;
    margin: 0 50px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 250px;
    max-width: 350px;
    border-radius: 10px;
    border: #fc7a00 5px solid;
}

#fighter1, #fighter2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
#vs{
   font-size: 60px;
   color: #f8f8f8;
   text-shadow: 4px 4px 6px #000000;
}   


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:  100px;
    margin-top: 5%;
}

.fightSetUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:  100px;
    border-radius: 70px 70px 70px 70px;
}

#botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49cf4d;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 70px 70px 70px 70px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#result{
    justify-content: center;
    align-items: center;
    max-width: 800px;
    font-size: 23px;
    text-shadow: 5px 5px 7px #000000;
    margin: 0 auto;
    color: #ffffffec;
    
}
