body {
    background-image: url('images/fundo/goku.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: rgba(194, 91, 241, 0.815);*/
    min-height:  100px;
    border-radius: 70px 70px 70px 70px;
    overflow: hidden;
}

#logo {
    max-width: 60%;
    height: auto;
    max-height: 400px;
    margin:auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}

.fightsetup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:  100px;
    border-radius: 70px 70px 70px 70px;
}

#botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49cf4d;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 70px 70px 70px 70px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#result{
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 15%;
    color: #eee7e7ec;
    text-shadow : 5px 5px 7px #000000; 
    
}
